<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66150D971C989AB900A6801A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66150DAE1C989AB900A6801A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66150DB91C989AB900A6801A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
